body {
	margin: 0;
	padding: 0;
	border-width: 0;
	text-align:left;
	font-family: OpenSymbol, DejaVu Sans, Verdana, sans-serif;
	background-color: white;
	color:black;
}

h2, h3, h4, h5, h6 {
	font-style: oblique;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	color: #d0d0ff;
	text-decoration: underline;
}
	
img, a img {
	border: 0px;
}
	
p {
	line-height: 1.7em;
	text-align: justify;
}

/* Header Area */
#header{
	background-color: #c64847;
	background-image: url(images/background3.png);
	background-repeat: repeat-x;
	background-position: 0px 50px;
	height: 182px;
}

#header-content {
	margin: 0 auto;
	width: 50em;
	height: 142px;
}

#header-content img {
	background-image: url(images/jinfer-logo-mask.png);
	width: 585px;
	height: 142px;
	margin-top: 20px;
	margin-left: -97px;
}
	
div#menu
{
 	margin-top: -10px;
	background-color: #3792aa;
}

div#menu-content {
	margin: 0 auto;
	width: 50em;
	text-align: right;
	line-height: 2em;
}

div#menu-content a {
	font-size: larger;
	color: white;
	text-decoration: none;
}

div#menu-content a:hover {
	font-size: larger;
	color: #d0d0ff;
}

div#footer
{
	background-color: #3792aa;
}

div#footer-content {
	margin: 0 auto;
	width: 50em;
	text-align: right;
	line-height: 2em;
}

div#footer-content a {
	color: white;
	text-decoration: none;
}

div#footer-content a:hover {
	color: #d0d0ff;
}

#content {
	margin: 1em auto 1em auto;
	width: 50em;
}

.box {
	margin: 1em;
	background-image: url(images/box-downleft.png);
	background-position: 0 100%;
	background-repeat: no-repeat;
	width: 24em;
	height: 15em;
	float: left;
}
.boxx {
	border-width: 0;
	margin: 0.5em 1em 0.5em 1em;
}
.boxxx {
	width: 23em;
	height: 14em;
	color: white;
}

.box-head {
	font-size: 2em;
	line-height: 1.5em;
	text-align: center;
}

.box-content {
	text-align: center;
}

.center {
	text-align: center;
}

table.layout, table.layout td, table.layout tr {
	margin: 0;
	padding: 0;
	border-width: 0px;
	border-color: black;
	border-style: solid;
	border-spacing: 0;
}

.clear {
	clear: both;
}
