body {
	margin: 0;
	padding: 0;
	border-width: 0;
	text-align:left;
	font-family: DejaVu Sans, Verdana, sans-serif;
	background-color: white;
	color:black;
}

#header{
	background-color: #c64847;
	background-image: url(images/background3.png);
	background-repeat: repeat-x;
	background-position: 0px 33px;
	height: 128px;
}

#header-content {
	margin: 0 auto;
	width: 36em;
	height: 128px;
}

#header-content img {
	width: 437px;
	height: 128px;
	margin-left: -67px;
}
	
div#menu
{
	color: white;
 	background-color: #3691aa;
}

div#menu-content {
	margin: 0 auto;
	width: 36em;
	text-align: right;
	line-height: 2em;
}

div#menu-content a {
	color: white;
	text-decoration: none;
}

div#menu-content span, div#footer-content span {
	margin: 0;
	padding: 0;
	border-width: 0;
	border-right: 1px dotted white;
}

div#menu-content a:hover {
	color: #d8d8d8;
}

div#footer
{
	color: white;
	background-color: #3691aa;
}

div#footer-content {
	margin: 0 auto;
	width: 36em;
	text-align: right;
	line-height: 2em;
}

div#footer-content a {
	color: white;
	text-decoration: none;
}

div#footer-content a:hover {
	color: #d8d8d8;
}

#content {
	margin: 1em auto 1em auto;
	width: 36em;
}

.right-box-outer {
	position: relative;
	width: 0;
	height: 0;
}

.right-box {
	margin: 0 0 0 0.5em;
	position: absolute;
	left: 36em;
	top: 0;
}

.index-box-left {
	margin: 0.5em 0.5em 0.5em 0;
	float: left;
	width: 17.5em;
	height: 10em;
}

.index-box-right {
	margin: 0.5em 0 0.5em 0.5em;
	float: left;
	width: 17.5em;
	height: 10em;
}

.box {
	background-image: url(images/box-downleft.png);
	background-position: 0 100%;
	background-repeat: no-repeat;
}

.box-inner {
	border-width: 0;
	margin: 0.5em;
}

.index-box-inner {
	width: 16.5em;
	height: 9em;
}

.box-table {
	height: 100%; width: 100%;
}

.box-icon img {
	width: 64px;
	height: 64px;
}

.box-head {
	font-size: 1.8em;
	height: 2em;
	text-align: center;
	font-variant: small-caps;
}

.box-content {
	vertical-align: top;
	font-size: 0.90em;
}

.box-content ul {
	margin: 0;
	padding-left: 2em;
	line-height: 140%;
}

.bg-orange a, .bg-blue a, .bg-green a, .bg-red a
{
	color: white;
	text-decoration: underline;
}
.bg-orange a:hover, .bg-blue a:hover, .bg-green a:hover, .bg-red a:hover
{
	color: #d8d8d8;
	text-decoration: underline;
}

.bg-orange {
	color: white;
	background-color: #f0ad00;
}
.bg-blue {
	color: white;
	background-color: #60b5cc;
}
.bg-red {
	color: white;
	background-color: #e66c7d;
}
.bg-green {
	color: white;
	background-color: #6bb76d;
}

.center {
	text-align: center;
}

.code {
	font-family: DeJavu Mono, Courier New, monospace;
	font-weight: normal;
	font-size: smaller;
	margin: auto 0em;
	padding: 1em;
	border: 1px solid grey;
	background-color: lightgrey;
}

table.layout, table.layout td, table.layout tr {
	margin: 0;
	padding: 0;
	border-width: 0px;
	border-color: black;
	border-style: solid;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 1.5em;
	border-bottom: 3px solid #3691aa;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.1em;
}

h4 {
	font-size: 0.9em;
}

h5 {
	font-size: 0.7em;
}

h6 {
	font-size: 0.8em;
}

a {
	color: #7f7f7f;
	text-decoration: underline;
}

a:hover {
	color: #3f3f3f;
	text-decoration: underline;
}
	
img, a img {
	border: 0px;
}
	
p {
	line-height: 1.7em;
	text-align: justify;
}

.clear {
	clear: both;
}

.people_outer {
	position: relative;
	left: -128px;
}

table.people {
	border-spacing: 1em;
	position: relative;
	left: -2em;
}

.member_photo {
	width: 128px;
	height: 128px;
}

.member_info {
	text-align: left;
	vertical-align: middle;
}

.member_name {
	font-size: 1.2em;
}

.member_function {
	padding-left: 1em;
	color: grey;
	font-style: oblique;
}

.member_email, .member_http {
	text-indent: 1em;
}

.gloss-term {
  font-weight: bold;
  color: #666666;
}

.gloss-definition {
  text-indent: 1em;
  margin-bottom: 0.5em;
}